body{
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Open Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
  color: var(--black);
  background-color: #F5F6F8;
}
:root{
  --black: #3B434E;
  --white:white;
  --green: #1DC37D;
  --red:#FC836D;
  --primary:#7653FC;
  --primary-hover:#6344FC;
  --green-light:#C8F8C4;
  --grey-light: #EBEBEB;
  font-family: 'Open Sans', sans-serif;


}